body {
    background-color: #f3f4f6; /* bg-gray-100 */
    font-family: sans-serif;
}

.post-container {
    max-width: 32rem; 
    margin: 2.5rem auto; 
    background-color: #ffffff; 
    border-radius: 0.5rem; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
}

.post-header {
    background-color: #f3f4f6;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-image {
    height: 3rem; 
    width: 3rem; 
    border-radius: 9999px; 
    object-fit: cover;
}

.user-details {
    margin-left: 0.75rem;
}

.user-name {
    font-size: 0.875rem;
    font-weight: 600; 
    color: #000000; 
}

.user-status {
    font-size: 0.75rem; 
    color: #718096; 
}


.post-img {
    width: 100%;
    height: auto;
}

.options-icon {
    padding-right: 1rem;
}

.bookmark-icon {
    padding-right: 0.3rem;
}

.post-icons {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
}

.icons-left {
    display: flex;
    gap: 10px;
}

.bookmark-icon {
    color: #000000
}

.post-body {
    padding: 0.5rem;
    color: #2d3748; 
    
}
